
		/* Éléments principaux du site */

body
{
	background-image: url("photos/background.jpg");
	font-family: 'Gambetta-Variable', Impact, serif;
	color: white;
}
		/* Essais d'adaptation à différents formats d'écrans */

		/* Définition de l'élément <header> */

header
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin: auto;
}
header img
{
	width: 100%;
	height: auto;
}
		/* NAVBAR */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  position: relative;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  border: 2px solid #FF7800;
  border-radius: 5px;
  text-align: center;
  padding: 2px 0px 2px 0px;
  width: 200px;
  margin-right: 5px;
}

.nav > .nav-links > a:hover {
	text-decoration: none;
}

.nav > #nav-check {
  display: none;
}


@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 3px solid white;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 99%;
	  text-decoration: none;
	  color: white;
  }
  .nav > .nav-links > a:hover {
	color: red;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(22vh);
    overflow-y: auto;
  }
}
		/* FIN DE NAVBAR*/
a
{
	text-decoration: none;
	color: white;
}
a:hover
{
	color: red;
}

		/* Définition de l'élément <section> */

main
{
	display: flex;
	flex-direction: column;
	text-align: justify;
	width: 90%;
	margin: 20px auto 0px;
}
section
{
	margin: 0px 5px 0px 5px;
}
.spotify
{
	border-radius: 5px;
	margin: auto;
}
.spotify img
{
	max-width: 100%;
	height: auto;
}
.spotify iframe
{
	border: 0px;
	height: 80px;
}
section h2
{
	font-size: 2em;
	font-style: italic;
	text-decoration: underline;
	text-decoration-color: red;
	text-align: center;
}
section p
{
	margin-top: 0px;
}
		/* Carousel tryout */

#demo
{
	width: 80%;
	height: 100%;
	margin: auto;
}
#demo h2
{
	text-align: center;
	margin-top: 10px;
	text-decoration: underline;
	text-decoration-color: red;
}
#demo .carousel-inner a 
{
	border: 2px solid #FF7800;
	border-radius: 5px;
	background: black;
	padding: 5px;
}

		/* Make the image fully responsive */
.carousel-inner img {
	width: 100%;
	height: 100%;
}

		/* Footer */
footer
{
	margin: 20px auto;
	width: 70%;
}
footer p
{
	font-size: 0.7em;
}

