
/* Éléments principaux du site */

body{
	background-color: black;
	background-image: url("img/background.jpg");
	font-family: 'Montserrat', sans-serif;
	color: white;
}
#bloc-page
{
	margin: auto;
	width: device-width;
}
/* Essais d'adaptation à différents formats d'écrans */

@media screen and (max-device-width: 480px)
{
	#bloc-page
    {
		width: auto;
        margin: auto;
    }
	header
	{
		display: flex;
		flex-direction: column;
	}
	header img
	{
		justify-content: center;
		align-items: center;
	}
    ul
    {
		justify-content: center;
		align-items: center;
    }
	li
	{
		margin-bottom: 2px;
	}
	#section
	{
		display: flex;
		flex-direction: column;
	}
	section
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center
	}
	aside
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

/* Définition de l'élément <header> */

header
{
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: auto;
}
#logo
{
	border-bottom: 2px solid red;
	margin: auto;
}
header img
{
	width: 100%;
	height: auto;
}
#logo{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
		/* NAVBAR */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}
.menu {
	font-size: 22px;
}
.navOff{
	display: none;
}
.navOn{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 32px;
}
.burger{
	display: block;
	height: 100%;
	cursor: pointer;
	margin: 0;
	border: 0;
	background: none;
}
.burger span{
	display: block;
	border: 2px solid #ffffff;
	border-radius: 8px;
	width: 20px;
}
.mid-span{
	margin: 6px 0;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 3px solid yellow;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 99%;
	text-decoration: none;
	color: yellow;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(21.5vh - 50px);
    overflow-y: auto;
  }
}
/* FIN DE NAVBAR*/
a
{
	text-decoration: none;
	color: yellow;
}
a:hover
{
	color: red;
	text-decoration: none;
}

/* Définition de l'élément <section> */

#section
{
	display: flex;
	flex-direction: column;
	text-align: justify;
	width: 90%;
	margin: 20px auto 0px;
}
.edito{
	border: 2px solid #fff;
	border-radius: 10px;
	padding: 18px;
}
.spotify{
	border-radius: 5px;
	margin: auto;
}
.spotify img{
	max-width: 100%;
	height: auto;
}
.spotify iframe{
	border: 0px;
	height: 80px;
}
section h2{
	font-size: 2em;
	font-style: italic;
	text-decoration: underline;
	text-decoration-color: red;
}
section p
{
	margin-top: 0px;
}
aside
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0px 0px 1px 0px;
	text-align: center;
	border-radius: 5px;
	font-size: 0.9em;
	color: black;
	width: 100%;
}
.photo
{
	border: 2px solid red;
	border-radius: 5px;
	background-color: #FF7800;
	width: 100%;
	height: 292.35px;
}
figcaption
{
	border-bottom: 5px;
}
figure img 
{
	margin-top: 5px;
}
.spotify
{
	border: 2px solid red;
	border-radius: 5px;
	background-color: #FF7800;
	width: 100%;
}

aside h3
{
	text-decoration: underline;
	text-decoration-color: red;
	margin-bottom: 1px;
	text-align: center;
}
section p{
	margin-top: 0px;
	font-size: 1.5em;
}

#demo{
	width: 80%;
	height: 100%;
	margin: auto;
}
footer h2
{
	text-align: center;
	margin-top: 10px;
	text-decoration: underline;
	text-decoration-color: red;
}
#fondateurs
{
	display: flex;
	justify-content: center;
	align-items: center;

}
footer a[href*="html"]
{
	border: 2px solid #FF7800;
	border-radius: 5px;
	padding: 2px 2px 2px 2px;
	margin-right: 10px;
	width: 200px;
	text-align: center;
	text-decoration: none;
	color: yellow;
}

		/* Make the image fully responsive */
.carousel-inner img {
	width: 100%;
	height: 100%;
}
.carousel-inner:hover{
	opacity: 0.5;
}

		/* Footer */
footer{
	margin: 20px auto;
	width: 70%;
}
footer p{
	font-size: 0.7em;
}

